/* line 5, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'montserratregular';
  src: url("../font/Montserrat-Regular-webfont.eot");
  src: url("../font/Montserrat-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Montserrat-Regular-webfont.woff2") format("woff2"), url("../font/Montserrat-Regular-webfont.woff") format("woff"), url("../font/Montserrat-Regular-webfont.ttf") format("truetype"), url("../font/Montserrat-Regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url("../font/Montserrat-Light-webfont.eot");
  src: url("../font/Montserrat-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Montserrat-Light-webfont.woff2") format("woff2"), url("../font/Montserrat-Light-webfont.woff") format("woff"), url("../font/Montserrat-Light-webfont.ttf") format("truetype"), url("../font/Montserrat-Light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratbold';
  src: url("../font/Montserrat-Bold-webfont.eot");
  src: url("../font/Montserrat-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Montserrat-Bold-webfont.woff2") format("woff2"), url("../font/Montserrat-Bold-webfont.woff") format("woff"), url("../font/Montserrat-Bold-webfont.ttf") format("truetype"), url("../font/Montserrat-Bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 8, ../sass/_styles.scss */
body {
  font-family: "montserratregular", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}

/* line 16, ../sass/_styles.scss */
a {
  color: #005f78;
  text-decoration: none;
}
/* line 19, ../sass/_styles.scss */
a:hover {
  text-decoration: none;
}

/* line 23, ../sass/_styles.scss */
h2, h1 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #005f78;
  padding-bottom: 50px;
}

/* line 31, ../sass/_styles.scss */
h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #005f78;
  text-align: center;
}

/* line 37, ../sass/_styles.scss */
.clear {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  clear: both;
  visibility: hidden;
}

/* line 45, ../sass/_styles.scss */
.wrapper {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 90px 0 100px 0;
}

/* line 51, ../sass/_styles.scss */
.button, .buttonWhite {
  text-transform: uppercase;
  color: #005f78;
  font-size: 16px;
  padding: 15px 20px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #ffffff;
  -moz-transition: all, 0.4s, linear;
  -o-transition: all, 0.4s, linear;
  -webkit-transition: all, 0.4s, linear;
  transition: all, 0.4s, linear;
}
/* line 59, ../sass/_styles.scss */
.button:hover, .buttonWhite:hover {
  background: #004456;
  color: white;
}

/* line 64, ../sass/_styles.scss */
.buttonWhite {
  color: white;
  background: #005f78;
}
/* line 67, ../sass/_styles.scss */
.buttonWhite:hover {
  color: white;
  background: #004456;
}

/* line 72, ../sass/_styles.scss */
.btn {
  outline: none !important;
  border-color: none !important;
  border: none !important;
}
/* line 76, ../sass/_styles.scss */
.btn:focus, .btn:active {
  background-color: #004456 !important;
  border-color: none !important;
}

/* line 81, ../sass/_styles.scss */
input, textarea {
  outline: none !important;
}
/* line 83, ../sass/_styles.scss */
input:focus, textarea:focus {
  outline: none;
  outline-offset: none;
}

/* line 88, ../sass/_styles.scss */
* {
  margin: 0;
}

/* line 91, ../sass/_styles.scss */
html, body {
  height: 100%;
}

/* line 94, ../sass/_styles.scss */
.page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -109px;
}

/* line 100, ../sass/_styles.scss */
footer .wrapper, .push {
  height: 109px;
}

/************************************************************************/
/*  PAGE
/************************************************************************/
/* line 106, ../sass/_styles.scss */
#headerHome {
  background: url('/builditsimply/webroot/images/background-header.jpg?1424428153') no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 610px;
  text-align: center;
}
/* line 111, ../sass/_styles.scss */
#headerHome .headerSection {
  width: 50%;
  float: left;
  margin-top: 160px;
}
/* line 116, ../sass/_styles.scss */
#headerHome h2, #headerHome p {
  width: 430px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
/* line 122, ../sass/_styles.scss */
#headerHome h2 {
  padding: 0;
  margin-bottom: 40px;
}
/* line 126, ../sass/_styles.scss */
#headerHome p {
  color: white;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  font-size: 20px;
  margin-bottom: 80px;
}
/* line 132, ../sass/_styles.scss */
#headerHome img {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -4px;
}

/* line 139, ../sass/_styles.scss */
#homeTotal {
  background: #223843;
  position: relative;
}
/* line 142, ../sass/_styles.scss */
#homeTotal .wrapper {
  padding: 38px 0;
}
/* line 145, ../sass/_styles.scss */
#homeTotal ul {
  z-index: 10;
  text-align: center;
  font-size: 16px;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  text-transform: uppercase;
  float: left;
}
/* line 152, ../sass/_styles.scss */
#homeTotal ul li {
  color: #ebebeb;
  float: left;
  width: 360px;
  z-index: 10;
  position: relative;
  height: 65px;
}
/* line 159, ../sass/_styles.scss */
#homeTotal ul li span {
  font-size: 36px;
  position: relative;
  bottom: 5px;
  z-index: 10;
}
/* line 165, ../sass/_styles.scss */
#homeTotal ul li p {
  z-index: 10;
  position: relative;
  bottom: 15px;
}
/* line 170, ../sass/_styles.scss */
#homeTotal ul li:nth-child(2) {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

/* line 177, ../sass/_styles.scss */
.separateBack {
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: #263f4c;
}

/* line 186, ../sass/_styles.scss */
#howitwork {
  text-align: center;
}
/* line 188, ../sass/_styles.scss */
#howitwork ul {
  float: left;
  margin-bottom: 60px;
}
/* line 191, ../sass/_styles.scss */
#howitwork ul li {
  width: 320px;
  margin: 0 20px;
  float: left;
  text-align: center;
}
/* line 196, ../sass/_styles.scss */
#howitwork ul li h3 {
  margin: 10px 0;
}
/* line 199, ../sass/_styles.scss */
#howitwork ul li p {
  color: #888888;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  font-size: 14px;
}

/* line 207, ../sass/_styles.scss */
#testimonial {
  position: relative;
  background: #f2f2f2;
}
/* line 210, ../sass/_styles.scss */
#testimonial .wrapper {
  position: relative;
  z-index: 10;
}
/* line 214, ../sass/_styles.scss */
#testimonial .separateBack {
  background-color: #f8f8f8;
}
/* line 218, ../sass/_styles.scss */
#testimonial ul li {
  width: 469px;
  float: left;
}
/* line 221, ../sass/_styles.scss */
#testimonial ul li:first-of-type {
  margin-right: 142px;
}
/* line 224, ../sass/_styles.scss */
#testimonial ul li img {
  float: left;
}
/* line 227, ../sass/_styles.scss */
#testimonial ul li p {
  font-family: "montserratlight", helvetica, arial, sans-serif;
  padding-left: 130px;
}
/* line 231, ../sass/_styles.scss */
#testimonial ul li p:last-of-type {
  color: #666666;
  margin: 13px 0;
}
/* line 234, ../sass/_styles.scss */
#testimonial ul li p:last-of-type span {
  color: #5192a3;
}
/* line 238, ../sass/_styles.scss */
#testimonial ul li img:last-of-type {
  padding-left: 30px;
}

/* line 244, ../sass/_styles.scss */
.subsribe {
  padding: 75px 0;
  background: #005f78;
  text-align: center;
}

/* line 249, ../sass/_styles.scss */
.pageHead {
  background: #005f78;
  padding: 40px 0;
}
/* line 252, ../sass/_styles.scss */
.pageHead h1 {
  color: white;
  padding: 0;
}

/* line 2, ../sass/_menu.scss */
nav {
  background: white;
  color: #005f78;
}

/* line 6, ../sass/_menu.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

/* line 9, ../sass/_menu.scss */
.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 13, ../sass/_menu.scss */
.navbar-brand {
  padding: 25px;
  height: 71px;
}

/* line 5, ../sass/_register.scss */
#registerHead, .connectionhead {
  text-align: center;
  background: #005f78;
}
/* line 8, ../sass/_register.scss */
#registerHead h2, #registerHead h1, .connectionhead h2, .connectionhead h1 {
  color: white;
}
/* line 11, ../sass/_register.scss */
#registerHead p, .connectionhead p {
  color: #eaeaea;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 25px;
}
/* line 18, ../sass/_register.scss */
#registerHead .wrapper, .connectionhead .wrapper {
  padding-bottom: 0;
}

/* line 23, ../sass/_register.scss */
.radio-group {
  width: 290px;
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;
  margin: 0 auto;
  position: relative;
  top: 23px;
  z-index: 10;
  cursor: pointer;
}

/* line 35, ../sass/_register.scss */
.radio-group__label {
  display: table-cell;
  background: #f6f6f6;
  padding: 10px 20px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  position: relative;
  border: 2px solid #e2e2e2;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
  color: #005f78;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
  -moz-transition: border 250ms, color 250ms;
  -o-transition: border 250ms, color 250ms;
  -webkit-transition: border 250ms, color 250ms;
  transition: border 250ms, color 250ms;
}
/* line 49, ../sass/_register.scss */
.radio-group__label:first-of-type {
  border-right: 1px solid #e2e2e2;
}
/* line 52, ../sass/_register.scss */
.radio-group__label:last-of-type {
  border-left: 1px solid #e2e2e2;
}
/* line 55, ../sass/_register.scss */
.radio-group__label:hover {
  background: #f2f2f2;
  color: #004456;
}

/* line 60, ../sass/_register.scss */
.radio-group__label + input + .radio-group__label {
  border-radius: 0 2px 2px 0;
}

/* line 63, ../sass/_register.scss */
.radio-group__label + input + .radio-group__label:before {
  content: " ";
  display: block;
  position: absolute;
  top: -2px;
  width: 145px;
  height: 48px;
  border: 2px solid #004456;
  border-radius: 2px 0 0 2px;
  transform: translate3d(-115%, 0, 0);
  transition: all 250ms;
}

/* line 75, ../sass/_register.scss */
.radio-group__label + input:checked + .radio-group__label:before {
  border-radius: 0 2px 2px 0;
  transform: translate3d(-21px, 0, 0);
}

/* line 79, ../sass/_register.scss */
.radio-group__option:checked + label {
  color: #004456;
  background: #f0f0f0;
}

/* line 83, ../sass/_register.scss */
.radio-group__option {
  display: none;
}

/* line 89, ../sass/_register.scss */
#registerInfo .wrapper {
  width: 700px;
}
/* line 92, ../sass/_register.scss */
#registerInfo h3 {
  text-align: left;
}
/* line 95, ../sass/_register.scss */
#registerInfo p {
  color: #767676;
  margin-top: 10px;
  font-size: 14px;
}

/* line 101, ../sass/_register.scss */
.form-group {
  width: 48%;
  float: left;
  margin: 28px 0 0 0 !important;
}
/* line 105, ../sass/_register.scss */
#registerInfo .form-group:nth-of-type(1) {
  margin-right: 28px !important;
}
/* line 108, ../sass/_register.scss */
#registerInfo .form-group:nth-of-type(3) {
  width: 100%;
  margin: 13px 0 13px 0 !important;
}
/* line 112, ../sass/_register.scss */
.form-group .col-sm-10 {
  width: 100%;
  padding: 0;
}
/* line 116, ../sass/_register.scss */
.form-group input {
  background: #ececec;
  border: 1px solid #dbdbdb;
  font-size: 14px;
}
/* line 61, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.form-group input[type="text"]:-moz-placeholder {
  color: #a0a0a0 !important;
}
/* line 64, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.form-group input[type="text"]::-moz-placeholder {
  color: #a0a0a0 !important;
}
/* line 67, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.form-group input[type="text"]:-ms-input-placeholder {
  color: #a0a0a0 !important;
}
/* line 56, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.form-group input[type="text"]::-webkit-input-placeholder {
  color: #a0a0a0 !important;
}
/* line 127, ../sass/_register.scss */
.form-group .buttonWhite {
  border-color: none;
  border: none;
}
/* line 131, ../sass/_register.scss */
#registerInfo .form-group:last-of-type {
  width: 100%;
  text-align: center;
}
/* line 134, ../sass/_register.scss */
#registerInfo .form-group:last-of-type .col-sm-offset-2 {
  margin: 0;
}

/* line 139, ../sass/_register.scss */
.form-group textarea, .form-group .tokenfield {
  background: #ececec;
  border: 1px solid #dbdbdb;
  font-size: 14px;
}

/* line 145, ../sass/_register.scss */
.form-marg {
  margin-right: 28px !important;
}

/* line 148, ../sass/_register.scss */
.has-error .help-block {
  font-size: 14px;
}

/* line 61, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
textarea:-moz-placeholder, input:-moz-placeholder {
  color: #a0a0a0 !important;
}
/* line 64, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
textarea::-moz-placeholder, input::-moz-placeholder {
  color: #a0a0a0 !important;
}
/* line 67, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
textarea:-ms-input-placeholder, input:-ms-input-placeholder {
  color: #a0a0a0 !important;
}
/* line 56, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
  color: #a0a0a0 !important;
}

/* line 3, ../sass/_login.scss */
#loginHead .wrapper {
  padding-bottom: 40px !important;
}
/* line 7, ../sass/_login.scss */
#loginHead .form-group:first-of-type {
  margin-right: 28px !important;
}
/* line 11, ../sass/_login.scss */
#loginHead .wrapper {
  width: 700px;
}
/* line 15, ../sass/_login.scss */
#loginHead .buttonWhite {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
}

/* line 24, ../sass/_login.scss */
#loginInfo .form-group:first-of-type {
  margin-right: 28px !important;
}
/* line 28, ../sass/_login.scss */
#loginInfo .wrapper {
  padding-top: 0px;
  padding-bottom: 90px;
  width: 700px;
}
/* line 34, ../sass/_login.scss */
#loginInfo .buttonWhite {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
}

/* line 4, ../sass/_all.scss */
#sidebar {
  width: 275px;
  margin-right: 40px;
  float: left;
}
/* line 8, ../sass/_all.scss */
#sidebar h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  color: #005f78;
  text-align: left;
  line-height: 21px;
  padding-bottom: 25px;
}
/* line 16, ../sass/_all.scss */
#sidebar h2:last-of-type {
  padding-top: 35px;
}
/* line 19, ../sass/_all.scss */
#sidebar h2 span {
  font-size: 12px;
  display: inline-block;
  color: #0188ac;
}
/* line 25, ../sass/_all.scss */
#sidebar .form-group {
  width: 100%;
  margin: 0 !important;
  margin-bottom: 35px !important;
}
/* line 29, ../sass/_all.scss */
#sidebar .form-group input {
  background: #ececec url('/builditsimply/webroot/images/search.png?1424722579') no-repeat 235px 12px;
}

/* line 35, ../sass/_all.scss */
#listCategorie li {
  float: left;
  width: 100%;
  font-size: 14px;
  color: #999999;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  margin-bottom: 5px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 43, ../sass/_all.scss */
#listCategorie li a {
  color: #666666;
  display: block;
  border-radius: 4px;
  padding: 6px 13px 8px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 50, ../sass/_all.scss */
#listCategorie li a:hover {
  background-color: #f0f0f0;
}
/* line 54, ../sass/_all.scss */
#listCategorie li span {
  float: right;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  line-height: 1.615;
  background-color: #d8dce0;
  border-radius: 4px;
  padding: 0 8px;
}

/* line 67, ../sass/_all.scss */
.listActive a {
  color: #005f78 !important;
  background-color: #ecf0f1;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 72, ../sass/_all.scss */
.listActive span {
  background-color: white !important;
  color: #005f78 !important;
}
/* line 77, ../sass/_all.scss */
.listActive:hover a {
  background-color: #f3f3f3 !important;
}

/* line 82, ../sass/_all.scss */
#listProjet {
  float: right;
  width: 765px;
}
/* line 85, ../sass/_all.scss */
#listProjet li {
  background: #fafafa;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  margin-bottom: 30px;
}
/* line 90, ../sass/_all.scss */
#listProjet li h3 {
  font-size: 21px;
  color: #005f78;
  text-transform: none;
  text-align: left;
  margin-bottom: 3px;
  padding: 25px 25px 0 25px;
}
/* line 98, ../sass/_all.scss */
#listProjet li h3 a:hover {
  color: #004456 !important;
}
/* line 104, ../sass/_all.scss */
#listProjet li .infoList {
  color: #888888;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  font-size: 14px;
  padding: 0 25px;
}
/* line 109, ../sass/_all.scss */
#listProjet li .infoList img {
  margin-right: 5px;
}
/* line 112, ../sass/_all.scss */
#listProjet li .infoList span {
  margin-right: 15px;
}
/* line 116, ../sass/_all.scss */
#listProjet li .textList {
  font-size: 16px;
  color: #666666;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  margin: 15px 0;
  padding: 0 25px;
}
/* line 123, ../sass/_all.scss */
#listProjet li .tagList {
  padding: 0 25px;
  margin-bottom: 25px;
}
/* line 127, ../sass/_all.scss */
#listProjet li .tagList a {
  padding: 5px 10px;
  color: #666666;
  background: #e3e3e3;
  border-radius: 3px;
  font-size: 14px;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  margin-right: 10px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 136, ../sass/_all.scss */
#listProjet li .tagList a:last-of-type {
  margin-right: 0;
}
/* line 139, ../sass/_all.scss */
#listProjet li .tagList a:hover {
  background: #dbdbdb;
  color: #005f78 !important;
}
/* line 144, ../sass/_all.scss */
#listProjet li .budgetList {
  background: #f3f3f3;
  border-top: 1px solid #f2f2f2;
  font-size: 16px;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  color: #999999;
  padding: 15px 25px;
  float: left;
  width: 548px;
}
/* line 153, ../sass/_all.scss */
#listProjet li .budgetList span {
  float: right;
  color: #555555;
}
/* line 158, ../sass/_all.scss */
#listProjet li .etatList {
  color: #ebebeb;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  float: right;
  text-align: center;
  position: relative;
  top: 1px;
  left: 1px;
  border-top: 1px solid #005f78;
  border-bottom-right-radius: 2px;
}
/* line 168, ../sass/_all.scss */
#listProjet li .etatList a {
  color: #ebebeb;
  background: #005f78;
  width: 215px;
  padding: 15px 25px;
  display: block;
  border-bottom-right-radius: 2px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 176, ../sass/_all.scss */
#listProjet li .etatList a:hover {
  background: #004456;
}

/* line 184, ../sass/_all.scss */
#listMenu p {
  float: left;
  color: #666666;
  font-family: "montserratlight", helvetica, arial, sans-serif;
}

/* Custom dropdown */
/* line 191, ../sass/_all.scss */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 25px;
  width: 210px;
  float: right;
  cursor: pointer;
}
/* line 199, ../sass/_all.scss */
.custom-dropdown:focus {
  outline-offset: none;
  outline: none;
}

/* line 205, ../sass/_all.scss */
.custom-dropdown select {
  background-color: #f8f8f8;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
  width: 210px;
  font-size: 14px;
  color: #666666;
  border: 1px solid #ededed;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
  text-overflow: '';
  -webkit-appearance: button;
  /* hide default arrow in chrome OSX */
}
/* line 224, ../sass/_all.scss */
.custom-dropdown select:hover {
  background-color: #f0f0f0;
}
/* line 227, ../sass/_all.scss */
.custom-dropdown select:focus {
  outline-offset: none;
  outline: none;
}

/* line 233, ../sass/_all.scss */
.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

/* line 240, ../sass/_all.scss */
.custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: " ";
  background: url('/builditsimply/webroot/images/chevron-down-option.png?1424737221') no-repeat;
  width: 14px;
  height: 8px;
  right: 20px;
  top: 18px;
}

/* line 260, ../sass/_all.scss */
.custom-dropdown::after {
  color: rgba(0, 0, 0, 0.4);
}

/* line 3, ../sass/_pagination.scss */
#pagination {
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
}
/* line 7, ../sass/_pagination.scss */
#pagination ul {
  text-align: center;
}
/* line 9, ../sass/_pagination.scss */
#pagination ul li {
  display: inline-block;
  text-align: center;
}
/* line 12, ../sass/_pagination.scss */
#pagination ul li a {
  margin: 0 10px;
  color: #999999;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 16, ../sass/_pagination.scss */
#pagination ul li a:hover {
  color: #004456;
}
/* line 22, ../sass/_pagination.scss */
#pagination ul .pageActive a {
  color: #005f78;
}
/* line 28, ../sass/_pagination.scss */
#pagination ul .previous a {
  margin-right: 25px !important;
  margin-left: 0 !important;
}
/* line 32, ../sass/_pagination.scss */
#pagination ul .next a {
  margin-left: 25px !important;
  margin-right: 0 !important;
}

/* line 3, ../sass/_init.scss */
#timelineHead {
  text-align: center;
}
/* line 5, ../sass/_init.scss */
#timelineHead ul {
  background: url('/builditsimply/webroot/images/timeline-separator.png?1424783008') no-repeat 62px 6px;
  display: inline-block;
}
/* line 8, ../sass/_init.scss */
#timelineHead ul .timelineActive {
  color: white;
}
/* line 10, ../sass/_init.scss */
#timelineHead ul .timelineActive span {
  background: white;
}
/* line 14, ../sass/_init.scss */
#timelineHead ul li {
  float: left;
  text-transform: uppercase;
  color: #c8c8c8;
  font-size: 14px;
}
/* line 19, ../sass/_init.scss */
#timelineHead ul li span {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: block;
  background: #c8c8c8;
  margin: 0 auto;
  margin-bottom: 6px;
}
/* line 28, ../sass/_init.scss */
#timelineHead ul li:nth-of-type(2) {
  margin: 0 97px 0 89px;
}

/* line 43, ../sass/_init.scss */
#ProjetInfo .wrapper {
  text-align: center;
}
/* line 45, ../sass/_init.scss */
#ProjetInfo .wrapper p {
  font-size: 18px;
  color: #666666;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}
/* line 52, ../sass/_init.scss */
#ProjetInfo .wrapper form {
  margin-top: 60px;
}
/* line 55, ../sass/_init.scss */
#ProjetInfo .wrapper .form-group {
  width: 845px;
  clear: both;
  margin: 0 !important;
  margin-bottom: 13px !important;
}
/* line 60, ../sass/_init.scss */
#ProjetInfo .wrapper .form-group label {
  text-align: right;
  float: left;
  width: 340px;
  padding: 0;
  position: relative;
  top: 10px;
  text-transform: uppercase;
  color: #005f78;
}
/* line 70, ../sass/_init.scss */
#ProjetInfo .wrapper .form-group input, #ProjetInfo .wrapper .form-group textarea {
  width: 100%;
  max-width: 485px;
}
/* line 74, ../sass/_init.scss */
#ProjetInfo .wrapper .form-group .form-group input {
  max-width: 485px;
  width: 100%;
}
/* line 78, ../sass/_init.scss */
#ProjetInfo .wrapper .form-group .col-sm-10 {
  width: 485px;
  float: right;
}
/* line 82, ../sass/_init.scss */
#ProjetInfo .wrapper .form-group .tokenfield {
  text-align: left;
}
/* line 61, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ProjetInfo .wrapper .form-group .tokenfield input[type="text"]:-moz-placeholder {
  color: #a0a0a0 !important;
  text-align: left;
}
/* line 64, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ProjetInfo .wrapper .form-group .tokenfield input[type="text"]::-moz-placeholder {
  color: #a0a0a0 !important;
  text-align: left;
}
/* line 67, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ProjetInfo .wrapper .form-group .tokenfield input[type="text"]:-ms-input-placeholder {
  color: #a0a0a0 !important;
  text-align: left;
}
/* line 56, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ProjetInfo .wrapper .form-group .tokenfield input[type="text"]::-webkit-input-placeholder {
  color: #a0a0a0 !important;
  text-align: left;
}

/* line 95, ../sass/_init.scss */
.tokenfield.focus {
  box-shadow: none;
  border-color: #2c3e50;
}

/* line 2, ../sass/_footer.scss */
footer {
  background: #f4f4f4;
}
/* line 4, ../sass/_footer.scss */
footer .wrapper {
  padding: 45px 0 40px 0;
}
/* line 7, ../sass/_footer.scss */
footer ul {
  float: left;
  width: 100%;
}
/* line 10, ../sass/_footer.scss */
footer ul li {
  float: left;
}
/* line 12, ../sass/_footer.scss */
footer ul li a {
  color: #a5acb2;
  font-size: 14px;
  margin-right: 30px;
  position: relative;
  bottom: 2px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 19, ../sass/_footer.scss */
footer ul li a:hover {
  color: #939ba2;
}
/* line 23, ../sass/_footer.scss */
footer ul li img {
  margin-right: 110px;
}

/* line 29, ../sass/_footer.scss */
.socialFooter {
  float: right;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 32, ../sass/_footer.scss */
.socialFooter a {
  bottom: 0 !important;
  right: 0;
}
/* line 36, ../sass/_footer.scss */
.socialFooter a img {
  margin-right: 0;
}
/* line 39, ../sass/_footer.scss */
.socialFooter:last-of-type a {
  bottom: 1px !important;
}
/* line 42, ../sass/_footer.scss */
.socialFooter:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
