/* line 5, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'montserratregular';
  src: url("../font/Montserrat-Regular-webfont.eot");
  src: url("../font/Montserrat-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Montserrat-Regular-webfont.woff2") format("woff2"), url("../font/Montserrat-Regular-webfont.woff") format("woff"), url("../font/Montserrat-Regular-webfont.ttf") format("truetype"), url("../font/Montserrat-Regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url("../font/Montserrat-Light-webfont.eot");
  src: url("../font/Montserrat-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Montserrat-Light-webfont.woff2") format("woff2"), url("../font/Montserrat-Light-webfont.woff") format("woff"), url("../font/Montserrat-Light-webfont.ttf") format("truetype"), url("../font/Montserrat-Light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratbold';
  src: url("../font/Montserrat-Bold-webfont.eot");
  src: url("../font/Montserrat-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Montserrat-Bold-webfont.woff2") format("woff2"), url("../font/Montserrat-Bold-webfont.woff") format("woff"), url("../font/Montserrat-Bold-webfont.ttf") format("truetype"), url("../font/Montserrat-Bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/_styles.scss */
body {
  font-family: "montserratregular", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}

/* line 23, ../sass/_styles.scss */
a {
  color: #005f78;
  text-decoration: none;
}
/* line 26, ../sass/_styles.scss */
a:hover {
  text-decoration: none;
}

/* line 30, ../sass/_styles.scss */
h2, h1 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #005f78;
  padding-bottom: 50px;
}

/* line 38, ../sass/_styles.scss */
h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #005f78;
  text-align: center;
}

/* line 44, ../sass/_styles.scss */
.clear {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  clear: both;
  visibility: hidden;
}

/* line 52, ../sass/_styles.scss */
.wrapper {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 90px 0 100px 0;
}

/* line 58, ../sass/_styles.scss */
.button, .buttonWhite {
  text-transform: uppercase;
  color: #005f78;
  font-size: 16px;
  padding: 15px 20px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #ffffff;
  -moz-transition: all, 0.4s, linear;
  -o-transition: all, 0.4s, linear;
  -webkit-transition: all, 0.4s, linear;
  transition: all, 0.4s, linear;
}
/* line 66, ../sass/_styles.scss */
.button:hover, .buttonWhite:hover {
  background: #004456;
  color: white;
}

/* line 71, ../sass/_styles.scss */
.buttonWhite {
  color: white;
  background: #005f78;
}
/* line 74, ../sass/_styles.scss */
.buttonWhite:hover {
  color: white;
  background: #004456;
}

/* line 79, ../sass/_styles.scss */
* {
  outline: none;
  outline-offset: none;
}
/* line 82, ../sass/_styles.scss */
*:focus {
  outline: none;
  outline-offset: none;
}

/* line 88, ../sass/_styles.scss */
.btn, button {
  outline: none !important;
  border-color: none !important;
  border: none !important;
}
/* line 92, ../sass/_styles.scss */
.btn:focus, .btn:active, button:focus, button:active {
  background-color: #004456 !important;
  border-color: none !important;
}

/* line 97, ../sass/_styles.scss */
input, textarea, button {
  outline: none !important;
}
/* line 99, ../sass/_styles.scss */
input:focus, textarea:focus, button:focus {
  outline: none;
  outline-offset: none;
}

/* line 104, ../sass/_styles.scss */
* {
  margin: 0;
}

/* line 107, ../sass/_styles.scss */
html, body {
  height: 100%;
}

/* line 110, ../sass/_styles.scss */
.page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -109px;
}

/* line 116, ../sass/_styles.scss */
footer .wrapper, .push {
  height: 109px;
}

/************************************************************************/
/*  PAGE
/************************************************************************/
@-moz-document url-prefix() {
  /* line 124, ../sass/_styles.scss */
  .headerSection {
    line-height: 550px;
  }
}
/* line 128, ../sass/_styles.scss */
#headerHome {
  background: url('/builditsimply/webroot/images/background-header.jpg?1424873993') no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: -webkit-calc(100vh - 109px);
  height: -moz-calc(100vh - 109px);
  height: calc(100vh - 109px);
  text-align: center;
  position: relative;
}
/* line 136, ../sass/_styles.scss */
#headerHome .headerSection {
  width: 50%;
  float: left;
  height: -webkit-calc(100vh - 71px);
  height: -moz-calc(100vh - 71px);
  height: calc(100vh - 71px);
  line-height: calc(100vh - 71px) !important;
  line-height: -moz-calc(100vh - 171px) !important;
}
/* line 145, ../sass/_styles.scss */
#headerHome .headerSection .textCtn {
  display: inline-block;
  height: 150px;
  line-height: normal;
  vertical-align: middle;
}
/* line 152, ../sass/_styles.scss */
#headerHome .button {
  position: absolute;
  left: 0;
  bottom: 22%;
  margin-left: -67.5px;
  left: 50%;
}
/* line 159, ../sass/_styles.scss */
#headerHome h2, #headerHome p {
  width: 430px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
/* line 167, ../sass/_styles.scss */
#headerHome h2 {
  padding: 0;
  margin-bottom: 40px;
}
/* line 171, ../sass/_styles.scss */
#headerHome p {
  color: white;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 80px;
}
/* line 178, ../sass/_styles.scss */
#headerHome img {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -4px;
}

/* line 185, ../sass/_styles.scss */
#homeTotal {
  background: #223843;
  position: relative;
  height: 141px;
}
/* line 189, ../sass/_styles.scss */
#homeTotal .wrapper {
  padding: 38px 0;
}
/* line 192, ../sass/_styles.scss */
#homeTotal ul {
  z-index: 10;
  text-align: center;
  font-size: 16px;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  text-transform: uppercase;
  float: left;
}
/* line 199, ../sass/_styles.scss */
#homeTotal ul li {
  color: #ebebeb;
  float: left;
  width: 360px;
  z-index: 10;
  position: relative;
  height: 65px;
}
/* line 206, ../sass/_styles.scss */
#homeTotal ul li span {
  font-size: 36px;
  position: relative;
  bottom: 5px;
  z-index: 10;
}
/* line 212, ../sass/_styles.scss */
#homeTotal ul li p {
  z-index: 10;
  position: relative;
  bottom: 15px;
}
/* line 217, ../sass/_styles.scss */
#homeTotal ul li:nth-child(2) {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

/* line 224, ../sass/_styles.scss */
.separateBack {
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: #263f4c;
}

/* line 233, ../sass/_styles.scss */
#howitwork {
  text-align: center;
}
/* line 235, ../sass/_styles.scss */
#howitwork ul {
  background: url('/builditsimply/webroot/images/line-road.png?1425611642') no-repeat 230px 0px;
  float: left;
  margin-bottom: 60px;
}
/* line 239, ../sass/_styles.scss */
#howitwork ul li {
  width: 320px;
  margin: 0 20px;
  float: left;
  text-align: center;
}
/* line 244, ../sass/_styles.scss */
#howitwork ul li img {
  height: 120px;
  width: 120px;
}
/* line 248, ../sass/_styles.scss */
#howitwork ul li h3 {
  margin: 10px 0;
}
/* line 251, ../sass/_styles.scss */
#howitwork ul li p {
  color: #888888;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  font-size: 14px;
}

/* line 259, ../sass/_styles.scss */
#testimonial {
  position: relative;
  background: #f2f2f2;
}
/* line 262, ../sass/_styles.scss */
#testimonial .wrapper {
  position: relative;
  z-index: 10;
}
/* line 266, ../sass/_styles.scss */
#testimonial .separateBack {
  background-color: #f8f8f8;
}
/* line 270, ../sass/_styles.scss */
#testimonial ul li {
  width: 469px;
  float: left;
}
/* line 273, ../sass/_styles.scss */
#testimonial ul li:first-of-type {
  margin-right: 142px;
}
/* line 276, ../sass/_styles.scss */
#testimonial ul li img {
  float: left;
}
/* line 279, ../sass/_styles.scss */
#testimonial ul li p {
  font-family: "montserratlight", helvetica, arial, sans-serif;
  padding-left: 180px;
}
/* line 283, ../sass/_styles.scss */
#testimonial ul li p:last-of-type {
  color: #666666;
  margin: 13px 0;
}
/* line 286, ../sass/_styles.scss */
#testimonial ul li p:last-of-type span {
  color: #5192a3;
}
/* line 290, ../sass/_styles.scss */
#testimonial ul li img:last-of-type {
  padding-left: 30px;
}

/* line 296, ../sass/_styles.scss */
.subsribe {
  padding: 75px 0;
  background: #005f78;
  text-align: center;
}

/* line 301, ../sass/_styles.scss */
.pageHead {
  background: #005f78;
  padding: 40px 0;
}
/* line 304, ../sass/_styles.scss */
.pageHead h1 {
  color: white;
  padding: 0;
}
/* line 308, ../sass/_styles.scss */
.pageHead p {
  color: white;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  /* line 315, ../sass/_styles.scss */
  #headerHome {
    height: -webkit-calc(100vh - 71px);
    height: -moz-calc(100vh - 71px);
    height: calc(100vh - 71px);
  }
}
/* line 321, ../sass/_styles.scss */
#profileView .listProjet ul li:last-of-type {
  margin-bottom: 45px;
}

/* line 326, ../sass/_styles.scss */
.alert-info {
  width: 100%;
  height: auto;
  padding: 25px 65px;
  margin: 0;
}

/* line 332, ../sass/_styles.scss */
.alert {
  border-radius: 0;
  border: none;
  margin: 0;
}

/* line 2, ../sass/_menu.scss */
nav {
  background: white;
  color: #005f78;
}

/* line 6, ../sass/_menu.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  color: #004456;
}

/* line 10, ../sass/_menu.scss */
.navbar-nav > li > a {
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}

/* line 16, ../sass/_menu.scss */
.navbar-brand {
  padding: 27px;
  height: 75px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 20, ../sass/_menu.scss */
.navbar-brand:hover {
  color: #004456;
}
/* line 23, ../sass/_menu.scss */
.navbar-brand img {
  float: left;
  width: 30px;
  vertical-align: middle;
  position: relative;
  bottom: 8px;
  margin-right: 10px;
}

/* line 32, ../sass/_menu.scss */
.menuLogin {
  padding: 10px !important;
  border: 2px solid #005f78;
  margin: 15px !important;
  border-radius: 2px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 38, ../sass/_menu.scss */
.menuLogin:hover {
  background: #005f78 !important;
  color: white !important;
}

/* line 5, ../sass/_register.scss */
#registerHead, .connectionhead {
  text-align: center;
  background: #005f78;
}
/* line 8, ../sass/_register.scss */
#registerHead h2, #registerHead h1, .connectionhead h2, .connectionhead h1 {
  color: white;
}
/* line 11, ../sass/_register.scss */
#registerHead p, .connectionhead p {
  color: #eaeaea;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 25px;
}
/* line 18, ../sass/_register.scss */
#registerHead .wrapper, .connectionhead .wrapper {
  padding-bottom: 0;
}

/* line 23, ../sass/_register.scss */
.radio-group {
  width: 290px;
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;
  margin: 0 auto;
  position: relative;
  top: 23px;
  z-index: 10;
  cursor: pointer;
}

/* line 35, ../sass/_register.scss */
.radio-group__label {
  display: table-cell;
  background: #f6f6f6;
  padding: 10px 20px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  position: relative;
  border: 2px solid #e2e2e2;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
  color: #005f78;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
  -moz-transition: border 250ms, color 250ms;
  -o-transition: border 250ms, color 250ms;
  -webkit-transition: border 250ms, color 250ms;
  transition: border 250ms, color 250ms;
}
/* line 49, ../sass/_register.scss */
.radio-group__label:first-of-type {
  border-right: 1px solid #e2e2e2;
}
/* line 52, ../sass/_register.scss */
.radio-group__label:last-of-type {
  border-left: 1px solid #e2e2e2;
}
/* line 55, ../sass/_register.scss */
.radio-group__label:hover {
  background: #f2f2f2;
  color: #004456;
}

/* line 60, ../sass/_register.scss */
.radio-group__label + input + .radio-group__label {
  border-radius: 0 2px 2px 0;
}

/* line 63, ../sass/_register.scss */
.radio-group__label + input + .radio-group__label:before {
  content: " ";
  display: block;
  position: absolute;
  top: -2px;
  width: 145px;
  height: 48px;
  border: 2px solid #004456;
  border-radius: 2px 0 0 2px;
  transform: translate3d(-115%, 0, 0);
  transition: all 250ms;
}

/* line 75, ../sass/_register.scss */
.radio-group__label + input:checked + .radio-group__label:before {
  border-radius: 0 2px 2px 0;
  transform: translate3d(-21px, 0, 0);
}

/* line 79, ../sass/_register.scss */
.radio-group__option:checked + label {
  color: #004456;
  background: #f0f0f0;
}

/* line 83, ../sass/_register.scss */
.radio-group__option {
  display: none;
}

/* line 89, ../sass/_register.scss */
#registerInfo .wrapper {
  width: 700px;
}
/* line 92, ../sass/_register.scss */
#registerInfo h3 {
  text-align: left;
}
/* line 95, ../sass/_register.scss */
#registerInfo p {
  color: #767676;
  margin-top: 10px;
  font-size: 14px;
}

/* line 101, ../sass/_register.scss */
.form-group {
  width: 48%;
  float: left;
  margin: 28px 0 0 0 !important;
}
/* line 105, ../sass/_register.scss */
#registerInfo .form-group:nth-of-type(1) {
  margin-right: 28px !important;
}
/* line 108, ../sass/_register.scss */
#registerInfo .form-group:nth-of-type(3) {
  width: 100%;
  margin: 13px 0 13px 0 !important;
}
/* line 112, ../sass/_register.scss */
.form-group .col-sm-10 {
  width: 100%;
  padding: 0;
}
/* line 116, ../sass/_register.scss */
.form-group input {
  background: #ececec;
  border: 1px solid #dbdbdb;
  font-size: 14px;
}
/* line 61, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.form-group input[type="text"]:-moz-placeholder {
  color: #a0a0a0 !important;
}
/* line 64, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.form-group input[type="text"]::-moz-placeholder {
  color: #a0a0a0 !important;
}
/* line 67, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.form-group input[type="text"]:-ms-input-placeholder {
  color: #a0a0a0 !important;
}
/* line 56, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.form-group input[type="text"]::-webkit-input-placeholder {
  color: #a0a0a0 !important;
}
/* line 127, ../sass/_register.scss */
.form-group .buttonWhite {
  border-color: none;
  border: none;
}
/* line 131, ../sass/_register.scss */
#registerInfo .form-group:last-of-type {
  width: 100%;
  text-align: center;
}
/* line 134, ../sass/_register.scss */
#registerInfo .form-group:last-of-type .col-sm-offset-2 {
  margin: 0;
}

/* line 139, ../sass/_register.scss */
.form-group textarea, .form-group .tokenfield {
  background: #ececec;
  border: 1px solid #dbdbdb;
  font-size: 14px;
}

/* line 145, ../sass/_register.scss */
.form-marg {
  margin-right: 28px !important;
}

/* line 148, ../sass/_register.scss */
.has-error .help-block {
  font-size: 14px;
}

/* line 61, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
textarea:-moz-placeholder, input:-moz-placeholder {
  color: #a0a0a0 !important;
}
/* line 64, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
textarea::-moz-placeholder, input::-moz-placeholder {
  color: #a0a0a0 !important;
}
/* line 67, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
textarea:-ms-input-placeholder, input:-ms-input-placeholder {
  color: #a0a0a0 !important;
}
/* line 56, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
  color: #a0a0a0 !important;
}

/* line 3, ../sass/_login.scss */
#loginHead .wrapper {
  padding-bottom: 40px !important;
}
/* line 7, ../sass/_login.scss */
#loginHead .form-group:first-of-type {
  margin-right: 28px !important;
}
/* line 11, ../sass/_login.scss */
#loginHead .wrapper {
  width: 700px;
}
/* line 15, ../sass/_login.scss */
#loginHead .buttonWhite {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
}

/* line 24, ../sass/_login.scss */
#loginInfo .form-group:first-of-type {
  margin-right: 28px !important;
}
/* line 28, ../sass/_login.scss */
#loginInfo .wrapper {
  padding-top: 0px;
  padding-bottom: 90px;
  width: 700px;
}
/* line 34, ../sass/_login.scss */
#loginInfo .buttonWhite {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
}

/* line 3, ../sass/_show.scss */
#profileView {
  background: #f5f5f5;
}

/* line 6, ../sass/_show.scss */
#profileInfo {
  padding: 25px 25px 25px 25px;
  text-align: center;
  float: left;
  width: 400px;
  position: relative;
  margin-right: 30px;
  border-radius: 2px;
  background: white;
  border: 1px solid #f2f2f2;
}
/* line 16, ../sass/_show.scss */
#profileInfo img {
  border-radius: 100%;
  width: 192px;
}
/* line 20, ../sass/_show.scss */
#profileInfo input {
  background: #f0f0f0;
  border: 1px solid #dbdbdb;
}
/* line 24, ../sass/_show.scss */
#profileInfo div.stars {
  float: right;
  width: 150px;
}
/* line 27, ../sass/_show.scss */
#profileInfo div.stars label.star {
  font-size: 16px;
  margin: 0 3px;
  padding: 0;
}
/* line 33, ../sass/_show.scss */
#profileInfo h1 {
  font-size: 21px;
}
/* line 35, ../sass/_show.scss */
#profileInfo h1 span {
  font-family: "montserratlight", helvetica, arial, sans-serif;
  letter-spacing: normal;
}
/* line 40, ../sass/_show.scss */
#profileInfo h2 {
  font-size: 18px;
  margin-bottom: 30px;
}
/* line 43, ../sass/_show.scss */
#profileInfo h2 span {
  font-size: 16px;
  text-transform: none;
  color: #5d6e72;
  display: block;
}
/* line 50, ../sass/_show.scss */
#profileInfo h1, #profileInfo h2 {
  padding: 0;
}
/* line 53, ../sass/_show.scss */
#profileInfo img {
  display: block;
  margin: 0 auto;
  padding: 30px 0 20px 0;
  border-radius: 100%;
}
/* line 59, ../sass/_show.scss */
#profileInfo ul {
  margin-top: 40px;
}
/* line 61, ../sass/_show.scss */
#profileInfo ul li {
  float: left;
  text-align: left;
  clear: both;
  color: #5d6e72;
  font-family: "montserratregular", helvetica, arial, sans-serif;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0;
  width: 100%;
}
/* line 70, ../sass/_show.scss */
#profileInfo ul li span {
  float: right;
  color: #4e5c5f;
  font-family: "montserratlight", helvetica, arial, sans-serif;
}

/* line 78, ../sass/_show.scss */
#profileDescription {
  width: 650px;
  float: right;
  text-align: left;
  padding: 25px;
  background: #005f78;
  border-radius: 2px;
}
/* line 85, ../sass/_show.scss */
#profileDescription textarea {
  background: #f0f0f0;
  border: 1px solid #dbdbdb;
  max-width: 600px;
  border-radius: 4px;
  margin-bottom: 20px;
}
/* line 92, ../sass/_show.scss */
#profileDescription .tokenfield {
  margin-top: 20px;
}
/* line 95, ../sass/_show.scss */
#profileDescription input, #profileDescription .tokenfield {
  background: #f0f0f0;
}
/* line 98, ../sass/_show.scss */
#profileDescription h3 {
  text-align: left;
  color: white;
}
/* line 102, ../sass/_show.scss */
#profileDescription p {
  color: #eeeeee;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  margin: 20px 0;
}
/* line 106, ../sass/_show.scss */
#profileDescription p:last-of-type {
  margin-bottom: 0;
}
/* line 111, ../sass/_show.scss */
#profileDescription .tagList a {
  padding: 5px 10px;
  color: #666666;
  background: #e3e3e3;
  border-radius: 3px;
  font-size: 14px;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  margin-right: 10px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 120, ../sass/_show.scss */
#profileDescription .tagList a:hover {
  background: white;
  color: #005f78;
}

/* line 127, ../sass/_show.scss */
#profileView {
  position: relative;
}
/* line 129, ../sass/_show.scss */
#profileView .listProjet {
  text-align: center;
  width: 650px;
  position: relative;
}
/* line 133, ../sass/_show.scss */
#profileView .listProjet h3:first-of-type {
  text-align: left;
  padding: 40px 0 20px 0;
}
/* line 137, ../sass/_show.scss */
#profileView .listProjet h4 {
  font-size: 21px;
  color: #005f78;
  text-transform: none;
  text-align: left;
  margin-bottom: 3px;
  padding: 25px 25px 0 25px;
}
/* line 144, ../sass/_show.scss */
#profileView .listProjet h4 a {
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 146, ../sass/_show.scss */
#profileView .listProjet h4 a:hover {
  color: #004456;
}
/* line 152, ../sass/_show.scss */
#profileView .listProjet ul li {
  text-align: left;
}
/* line 155, ../sass/_show.scss */
#profileView .listProjet li {
  background: white;
}
/* line 158, ../sass/_show.scss */
#profileView .listProjet .form-group {
  width: 100%;
  margin-right: 0 !important;
  margin-top: 0 !important;
}
/* line 162, ../sass/_show.scss */
#profileView .listProjet .form-group:last-of-type {
  margin-top: 30px !important;
}
/* line 165, ../sass/_show.scss */
#profileView .listProjet .form-group:nth-of-type(2) {
  margin-top: 20px !important;
  margin-bottom: 5px !important;
}
/* line 168, ../sass/_show.scss */
#profileView .listProjet .form-group:nth-of-type(2) label {
  position: relative;
  top: 9px;
}
/* line 172, ../sass/_show.scss */
#profileView .listProjet .form-group:nth-of-type(2) .col-sm-8 {
  width: 78%;
}
/* line 175, ../sass/_show.scss */
#profileView .listProjet .form-group:nth-of-type(2) .col-sm-2 {
  width: 108px;
  padding: 0;
}
/* line 178, ../sass/_show.scss */
#profileView .listProjet .form-group:nth-of-type(2) .col-sm-2 button {
  width: 108px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 181, ../sass/_show.scss */
#profileView .listProjet .form-group:nth-of-type(2) .col-sm-2 button:hover {
  background: #005f78;
}
/* line 190, ../sass/_show.scss */
#profileView .listProjet label {
  text-align: left;
  float: left;
  margin-bottom: 5px;
}

/* line 198, ../sass/_show.scss */
.listProjet#profileAvis {
  width: 100%;
  float: left;
  margin-top: 10px;
}

/* line 204, ../sass/_show.scss */
#profileAvis li {
  width: 49%;
  float: left;
  padding: 25px 0;
  position: relative;
}
/* line 209, ../sass/_show.scss */
#profileAvis li:nth-child(odd) {
  margin-right: 21px;
}
/* line 213, ../sass/_show.scss */
#profileAvis img {
  margin-left: 25px;
  float: left;
  width: 104px;
  height: 104px;
  border-radius: 100%;
}
/* line 220, ../sass/_show.scss */
#profileAvis p {
  float: left;
  width: 365px;
}
/* line 223, ../sass/_show.scss */
#profileAvis p:last-of-type {
  font-size: 14px;
}
/* line 227, ../sass/_show.scss */
#profileAvis .recruteurAvis {
  padding-left: 25px;
  width: 230px;
}
/* line 230, ../sass/_show.scss */
#profileAvis .recruteurAvis a {
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 232, ../sass/_show.scss */
#profileAvis .recruteurAvis a:hover, #profileAvis .recruteurAvis a:hover span {
  color: #004456;
}
/* line 235, ../sass/_show.scss */
#profileAvis .recruteurAvis a span {
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
  color: #5d6e72;
  font-size: 14px;
}
/* line 239, ../sass/_show.scss */
#profileAvis .recruteurAvis a span:hover {
  color: #004456;
}
/* line 245, ../sass/_show.scss */
#profileAvis .buttonWhite {
  margin-top: 40px;
}
/* line 248, ../sass/_show.scss */
#profileAvis div.stars {
  position: absolute;
  top: 15px;
  right: 25px;
}

/* line 256, ../sass/_show.scss */
div.stars {
  width: 200px;
  display: inline-block;
  margin-left: 20px;
}

/* line 263, ../sass/_show.scss */
input.star {
  display: none;
}

/* line 267, ../sass/_show.scss */
label.star {
  float: right;
  padding: 5px;
  font-size: 20px;
  color: #444;
  transition: all .2s;
}

/* line 274, ../sass/_show.scss */
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #00657f;
  transition: all .25s;
}

/* line 281, ../sass/_show.scss */
input.star-5:checked ~ label.star:before {
  color: #00657f;
}

/* line 286, ../sass/_show.scss */
input.star-1:checked ~ label.star:before {
  color: #00657f;
}

/* line 289, ../sass/_show.scss */
label.star:before {
  content: '\f005';
  color: #d4d4d4;
  font-family: FontAwesome;
}

/* line 300, ../sass/_show.scss */
.file {
  width: 200px;
  height: 41px;
  margin: 0;
  background: transparent;
  border: none;
  opacity: 0;
  position: relative;
  z-index: 10;
  cursor: pointer;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}

/* line 312, ../sass/_show.scss */
label#largeFile:after {
  position: relative;
  width: 250px;
  cursor: pointer;
  content: "Changer de photo";
  left: 0;
  right: 0;
  top: -33px;
  margin: 10px auto;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
  text-align: center;
  padding: 10px 35px;
  border-radius: 4px;
  border: 2px dashed #ccc;
  color: #ccc;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  font-size: 14px;
}

/* line 331, ../sass/_show.scss */
label#largeFile:hover:after {
  background: #ccc;
  color: #fff;
  cursor: pointer;
}

/* line 338, ../sass/_show.scss */
label#largeFile input#file {
  width: 0px;
  height: 0px;
  cursor: pointer;
}

/* line 345, ../sass/_show.scss */
.profileEdit {
  margin-bottom: 30px !important;
}

/* line 4, ../sass/_showproject.scss */
#projectView {
  background: #f5f5f5;
}
/* line 6, ../sass/_showproject.scss */
#projectView h2 {
  font-family: "montserratlight", helvetica, arial, sans-serif;
  margin-top: 30px;
}
/* line 10, ../sass/_showproject.scss */
#projectView .buttonWhite {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  width: 148px;
}
/* line 17, ../sass/_showproject.scss */
#projectView .listProjet li {
  background: transparent;
}
/* line 24, ../sass/_showproject.scss */
#projectView #profileDescription p {
  margin-bottom: 25px;
}
/* line 26, ../sass/_showproject.scss */
#projectView #profileDescription p:last-of-type {
  margin-bottom: 0;
}
/* line 31, ../sass/_showproject.scss */
#projectView .listProjet {
  text-align: left;
  width: 650px;
  position: relative;
}
/* line 35, ../sass/_showproject.scss */
#projectView .listProjet h3:first-of-type {
  text-align: left;
  padding: 40px 0 0 0;
}
/* line 38, ../sass/_showproject.scss */
#projectView .listProjet h3:first-of-type span {
  font-size: 14px;
  color: #999999;
  float: right;
}
/* line 45, ../sass/_showproject.scss */
#projectView ul li {
  font-family: "montserratregular", helvetica, arial, sans-serif;
}
/* line 47, ../sass/_showproject.scss */
#projectView ul li span {
  color: #4e5c5f;
  font-family: "montserratlight", helvetica, arial, sans-serif;
}
/* line 51, ../sass/_showproject.scss */
#projectView ul li:last-of-type {
  border: none;
}
/* line 54, ../sass/_showproject.scss */
#projectView ul li a {
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 56, ../sass/_showproject.scss */
#projectView ul li a:hover {
  color: #004456;
}
/* line 60, ../sass/_showproject.scss */
#projectView ul li:nth-of-type(5) {
  padding: 5px 0;
}
/* line 63, ../sass/_showproject.scss */
#projectView ul li .tagList {
  width: 100%;
}
/* line 65, ../sass/_showproject.scss */
#projectView ul li .tagList a {
  padding: 5px 10px;
  margin: 5px 10px 5px 0;
  display: inline-block;
  color: #666666;
  background: #e3e3e3;
  border-radius: 3px;
  font-size: 14px;
  font-family: "montserratlight", helvetica, arial, sans-serif;
}
/* line 74, ../sass/_showproject.scss */
#projectView ul li .tagList a:hover {
  background: #dbdbdb;
  color: #005f78 !important;
}
/* line 78, ../sass/_showproject.scss */
#projectView ul li .tagList a:last-of-type {
  margin-right: 0;
}

/* line 88, ../sass/_showproject.scss */
.projectFiche p {
  font-size: 18px;
  text-transform: uppercase;
  color: #555555;
  margin-top: 25px;
}
/* line 93, ../sass/_showproject.scss */
.projectFiche p span {
  font-size: 12px;
  color: #888888;
  position: relative;
  top: 6px;
}
/* line 100, ../sass/_showproject.scss */
.projectFiche ul {
  margin-top: 0 !important;
}
/* line 102, ../sass/_showproject.scss */
.projectFiche ul li {
  border-bottom: none !important;
  padding: 5px 0 !important;
}

/* line 4, ../sass/_all.scss */
#sidebar {
  width: 275px;
  margin-right: 40px;
  float: left;
}
/* line 8, ../sass/_all.scss */
#sidebar h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  color: #005f78;
  text-align: left;
  line-height: 21px;
  padding-bottom: 25px;
}
/* line 16, ../sass/_all.scss */
#sidebar h2:last-of-type {
  padding-top: 35px;
}
/* line 19, ../sass/_all.scss */
#sidebar h2 span {
  font-size: 12px;
  display: inline-block;
  color: #0188ac;
}
/* line 25, ../sass/_all.scss */
#sidebar .form-group {
  width: 100%;
  margin: 0 !important;
  margin-bottom: 35px !important;
}
/* line 29, ../sass/_all.scss */
#sidebar .form-group input {
  background: #ececec url('/builditsimply/webroot/images/search.png?1424873993') no-repeat 235px 12px;
}

/* line 35, ../sass/_all.scss */
#listCategorie li {
  float: left;
  width: 100%;
  font-size: 14px;
  color: #999999;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  margin-bottom: 5px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 43, ../sass/_all.scss */
#listCategorie li a {
  color: #666666;
  display: block;
  border-radius: 4px;
  padding: 6px 13px 8px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 50, ../sass/_all.scss */
#listCategorie li a:hover {
  background-color: #f0f0f0;
}
/* line 54, ../sass/_all.scss */
#listCategorie li span {
  float: right;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  line-height: 1.615;
  background-color: #d8dce0;
  border-radius: 4px;
  padding: 0 8px;
}

/* line 67, ../sass/_all.scss */
.listActive a {
  color: #005f78 !important;
  background-color: #ecf0f1;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 72, ../sass/_all.scss */
.listActive span {
  background-color: white !important;
  color: #005f78 !important;
}
/* line 77, ../sass/_all.scss */
.listActive:hover a {
  background-color: #f3f3f3 !important;
}

/* line 82, ../sass/_all.scss */
.listProjet {
  float: right;
  width: 765px;
}
/* line 85, ../sass/_all.scss */
.listProjet li {
  background: #fafafa;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  margin-bottom: 30px;
}
/* line 90, ../sass/_all.scss */
.listProjet li h3 {
  font-size: 21px;
  color: #005f78;
  text-transform: none;
  text-align: left;
  margin-bottom: 3px;
  padding: 25px 25px 0 25px;
}
/* line 98, ../sass/_all.scss */
.listProjet li h3 a:hover {
  color: #004456 !important;
}
/* line 104, ../sass/_all.scss */
.listProjet li .infoList {
  color: #888888;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  font-size: 14px;
  padding: 0 25px;
}
/* line 109, ../sass/_all.scss */
.listProjet li .infoList img {
  margin-right: 5px;
}
/* line 112, ../sass/_all.scss */
.listProjet li .infoList span {
  margin-right: 15px;
}
/* line 116, ../sass/_all.scss */
.listProjet li .textList {
  font-size: 16px;
  color: #666666;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  margin-top: 15px;
  padding: 0 25px;
}
/* line 123, ../sass/_all.scss */
.listProjet li .tagList {
  padding: 0 25px;
  margin-bottom: 25px;
}
/* line 127, ../sass/_all.scss */
.listProjet li .tagList a {
  margin-top: 15px;
  display: inline-block;
  padding: 5px 10px;
  color: #666666;
  background: #e3e3e3;
  border-radius: 3px;
  font-size: 14px;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  margin-right: 10px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 138, ../sass/_all.scss */
.listProjet li .tagList a:last-of-type {
  margin-right: 0;
}
/* line 141, ../sass/_all.scss */
.listProjet li .tagList a:hover {
  background: #dbdbdb;
  color: #005f78 !important;
}
/* line 146, ../sass/_all.scss */
.listProjet li .budgetList {
  background: #f3f3f3;
  border-top: 1px solid #f2f2f2;
  font-size: 16px;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  color: #999999;
  padding: 15px 25px;
  float: left;
  width: 548px;
}
/* line 155, ../sass/_all.scss */
.listProjet li .budgetList span {
  float: right;
  color: #555555;
}
/* line 160, ../sass/_all.scss */
.listProjet li .etatList {
  color: #ebebeb;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  float: right;
  text-align: center;
  position: relative;
  top: 1px;
  left: 1px;
  border-top: 1px solid #005f78;
  border-bottom-right-radius: 2px;
}
/* line 170, ../sass/_all.scss */
.listProjet li .etatList a {
  color: #ebebeb;
  background: #005f78;
  width: 215px;
  padding: 15px 25px;
  display: block;
  border-bottom-right-radius: 2px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 178, ../sass/_all.scss */
.listProjet li .etatList a:hover {
  background: #004456;
}

/* line 186, ../sass/_all.scss */
#listMenu p {
  float: left;
  color: #666666;
  font-family: "montserratlight", helvetica, arial, sans-serif;
}

/* Custom dropdown */
/* line 193, ../sass/_all.scss */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 25px;
  width: 210px;
  float: right;
  cursor: pointer;
}
/* line 201, ../sass/_all.scss */
.custom-dropdown:focus {
  outline-offset: none;
  outline: none;
}

/* line 207, ../sass/_all.scss */
.custom-dropdown select {
  background-color: #f8f8f8;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
  width: 210px;
  font-size: 14px;
  color: #666666;
  border: 1px solid #ededed;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
  text-overflow: '';
  -webkit-appearance: button;
  /* hide default arrow in chrome OSX */
}
/* line 226, ../sass/_all.scss */
.custom-dropdown select:hover {
  background-color: #f0f0f0;
}
/* line 229, ../sass/_all.scss */
.custom-dropdown select:focus {
  outline-offset: none;
  outline: none;
}

/* line 235, ../sass/_all.scss */
.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

/* line 242, ../sass/_all.scss */
.custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: " ";
  background: url('/builditsimply/webroot/images/chevron-down-option.png?1424873993') no-repeat;
  width: 14px;
  height: 8px;
  right: 20px;
  top: 18px;
}

/* line 250, ../sass/_all.scss */
.btn {
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}

/* line 264, ../sass/_all.scss */
.custom-dropdown::after {
  color: rgba(0, 0, 0, 0.4);
}

/* line 270, ../sass/_all.scss */
.saveInfo {
  width: auto !important;
  border: none !important;
  margin-top: 50px !important;
}

/* line 276, ../sass/_all.scss */
.myProjet .wrapper {
  width: 765px;
}
/* line 278, ../sass/_all.scss */
.myProjet .wrapper .listProjet {
  float: none;
}

/* line 284, ../sass/_all.scss */
.token .close {
  color: #005f78;
}

/* line 289, ../sass/_all.scss */
.profileEdit .tokenfield .token .token-label {
  padding-right: 10px;
}

/* line 294, ../sass/_all.scss */
.profileEdit .btn-default {
  margin-top: 30px;
}

/* line 298, ../sass/_all.scss */
#profileView {
  background: #f5f5f5 url('/builditsimply/webroot/images/bg-test.png?1425518089') -250px -500px no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 3, ../sass/_howitwork.scss */
.stepHow {
  background: url('/builditsimply/webroot/images/bg-how.png?1425612633') no-repeat center center;
}
/* line 5, ../sass/_howitwork.scss */
.stepHow .wrapper {
  text-align: center;
}
/* line 7, ../sass/_howitwork.scss */
.stepHow .wrapper h2 {
  font-size: 26px;
}
/* line 10, ../sass/_howitwork.scss */
.stepHow .wrapper ul {
  float: left;
}
/* line 12, ../sass/_howitwork.scss */
.stepHow .wrapper ul li {
  float: left;
  width: 480px;
  margin: 0;
}
/* line 16, ../sass/_howitwork.scss */
.stepHow .wrapper ul li:first-of-type {
  margin-left: 60px;
}
/* line 19, ../sass/_howitwork.scss */
.stepHow .wrapper ul li:last-of-type {
  margin-right: 60px;
}
/* line 22, ../sass/_howitwork.scss */
.stepHow .wrapper ul li img {
  width: 200px;
  margin-bottom: 5px;
}
/* line 26, ../sass/_howitwork.scss */
.stepHow .wrapper ul li p {
  width: 250px;
  margin: 0 auto;
}

/* line 34, ../sass/_howitwork.scss */
.stepHowGray {
  background: #F0F0F0;
  background: #F0F0F0 url('/builditsimply/webroot/images/bg-how3.png?1425613414') no-repeat center center;
}

/* line 38, ../sass/_howitwork.scss */
.stepHowlast {
  background: url('/builditsimply/webroot/images/bg-how2.png?1425612911') no-repeat center center;
}
/* line 40, ../sass/_howitwork.scss */
.stepHowlast ul {
  margin-bottom: 60px;
}

/* line 4, ../sass/_notification.scss */
#notification .wrapper {
  width: 700px;
}
/* line 8, ../sass/_notification.scss */
#notification p:first-of-type {
  color: #666666;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

/* line 19, ../sass/_notification.scss */
.notBloc {
  margin-top: 30px;
}
/* line 21, ../sass/_notification.scss */
.notBloc p {
  font-size: 16px;
  color: #666666;
  text-align: left !important;
}
/* line 26, ../sass/_notification.scss */
.notBloc .dateNot {
  color: #005f78 !important;
  padding-bottom: 5px !important;
  margin-bottom: 20px !important;
  font-size: 18px !important;
  text-transform: uppercase;
  border-bottom: 2px solid #888888;
  font-family: "montserratregular", helvetica, arial, sans-serif !important;
}
/* line 35, ../sass/_notification.scss */
.notBloc ul li {
  margin-bottom: 20px;
}
/* line 37, ../sass/_notification.scss */
.notBloc ul li img {
  float: left;
  border-radius: 100%;
  width: 66px;
}
/* line 42, ../sass/_notification.scss */
.notBloc ul li p {
  position: relative;
  top: 20px;
  left: 20px;
}
/* line 46, ../sass/_notification.scss */
.notBloc ul li p a:first-of-type {
  font-family: "montserratregular", helvetica, arial, sans-serif;
}
/* line 49, ../sass/_notification.scss */
.notBloc ul li p a {
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 51, ../sass/_notification.scss */
.notBloc ul li p a:hover {
  color: #004456;
}
/* line 57, ../sass/_notification.scss */
.notBloc:last-of-type ul li:last-of-type {
  margin-bottom: 0;
}

/* line 3, ../sass/_pagination.scss */
#pagination {
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
}
/* line 7, ../sass/_pagination.scss */
#pagination ul {
  text-align: center;
}
/* line 9, ../sass/_pagination.scss */
#pagination ul li {
  display: inline-block;
  text-align: center;
}
/* line 12, ../sass/_pagination.scss */
#pagination ul li a {
  margin: 0 10px;
  color: #999999;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 16, ../sass/_pagination.scss */
#pagination ul li a:hover {
  color: #004456;
}
/* line 22, ../sass/_pagination.scss */
#pagination ul .pageActive a {
  color: #005f78;
}
/* line 28, ../sass/_pagination.scss */
#pagination ul .previous a {
  margin-right: 25px !important;
  margin-left: 0 !important;
}
/* line 32, ../sass/_pagination.scss */
#pagination ul .next a {
  margin-left: 25px !important;
  margin-right: 0 !important;
}

/* line 3, ../sass/_init.scss */
#timelineHead {
  text-align: center;
}
/* line 5, ../sass/_init.scss */
#timelineHead ul {
  background: url('/builditsimply/webroot/images/timeline-separator.png?1424873993') no-repeat 62px 6px;
  display: inline-block;
}
/* line 8, ../sass/_init.scss */
#timelineHead ul .timelineActive {
  color: white;
}
/* line 10, ../sass/_init.scss */
#timelineHead ul .timelineActive span {
  background: white;
}
/* line 14, ../sass/_init.scss */
#timelineHead ul li {
  float: left;
  text-transform: uppercase;
  color: #c8c8c8;
  font-size: 14px;
}
/* line 19, ../sass/_init.scss */
#timelineHead ul li span {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: block;
  background: #c8c8c8;
  margin: 0 auto;
  margin-bottom: 6px;
}
/* line 28, ../sass/_init.scss */
#timelineHead ul li:nth-of-type(2) {
  margin: 0 97px 0 89px;
}

/* line 36, ../sass/_init.scss */
#ProjetInfo .wrapper {
  text-align: center;
  position: relative;
}
/* line 39, ../sass/_init.scss */
#ProjetInfo .wrapper p {
  font-size: 18px;
  color: #666666;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}
/* line 46, ../sass/_init.scss */
#ProjetInfo .wrapper form {
  margin-top: 60px;
}
/* line 49, ../sass/_init.scss */
#ProjetInfo .wrapper .form-group {
  width: 845px;
  clear: both;
  margin: 0 !important;
  margin-bottom: 13px !important;
}
/* line 54, ../sass/_init.scss */
#ProjetInfo .wrapper .form-group label {
  text-align: right;
  float: left;
  width: 340px;
  padding: 0;
  position: relative;
  top: 10px;
  text-transform: uppercase;
  color: #005f78;
}
/* line 64, ../sass/_init.scss */
#ProjetInfo .wrapper .form-group input, #ProjetInfo .wrapper .form-group textarea {
  width: 100%;
  max-width: 485px;
}
/* line 68, ../sass/_init.scss */
#ProjetInfo .wrapper .form-group .form-group input {
  max-width: 485px;
  width: 100%;
}
/* line 72, ../sass/_init.scss */
#ProjetInfo .wrapper .form-group .col-sm-10 {
  width: 485px;
  float: right;
}
/* line 76, ../sass/_init.scss */
#ProjetInfo .wrapper .form-group .tokenfield {
  text-align: left;
}
/* line 61, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ProjetInfo .wrapper .form-group .tokenfield input[type="text"]:-moz-placeholder {
  color: #a0a0a0 !important;
  text-align: left;
}
/* line 64, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ProjetInfo .wrapper .form-group .tokenfield input[type="text"]::-moz-placeholder {
  color: #a0a0a0 !important;
  text-align: left;
}
/* line 67, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ProjetInfo .wrapper .form-group .tokenfield input[type="text"]:-ms-input-placeholder {
  color: #a0a0a0 !important;
  text-align: left;
}
/* line 56, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ProjetInfo .wrapper .form-group .tokenfield input[type="text"]::-webkit-input-placeholder {
  color: #a0a0a0 !important;
  text-align: left;
}

/* line 89, ../sass/_init.scss */
.tokenfield.focus {
  box-shadow: none;
  border-color: #2c3e50;
}

/* line 94, ../sass/_init.scss */
#gabaritBG {
  background: #f5f5f5;
}
/* line 96, ../sass/_init.scss */
#gabaritBG .wrapper {
  padding-bottom: 30px;
}

/* line 101, ../sass/_init.scss */
.projetBugdet {
  margin-top: 20px;
}
/* line 103, ../sass/_init.scss */
.projetBugdet p {
  font-size: 24px !important;
  color: #555555 !important;
  font-family: "montserratregular", helvetica, arial, sans-serif !important;
}
/* line 107, ../sass/_init.scss */
.projetBugdet p span {
  color: #005f78;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
}

/* line 115, ../sass/_init.scss */
.previousQ {
  position: absolute;
  top: 97px;
  left: 0;
  text-transform: uppercase;
  font-size: 14px;
  background: transparent;
  border: none;
  color: #a8a8a8;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 125, ../sass/_init.scss */
.previousQ:hover {
  color: #888888;
}

/* line 129, ../sass/_init.scss */
#projetGabarit {
  text-align: center;
}
/* line 131, ../sass/_init.scss */
#projetGabarit .projet2 {
  padding: 0px 180px;
}
/* line 133, ../sass/_init.scss */
#projetGabarit .projet2 li {
  width: 325px;
  padding: 30px;
}
/* line 136, ../sass/_init.scss */
#projetGabarit .projet2 li img {
  width: 200px;
}
/* line 139, ../sass/_init.scss */
#projetGabarit .projet2 li:nth-of-type(2) {
  margin: 0;
  margin-left: 52px;
}
/* line 146, ../sass/_init.scss */
#projetGabarit .projet3 li {
  width: 325px;
  padding: 30px;
}
/* line 149, ../sass/_init.scss */
#projetGabarit .projet3 li img {
  width: 200px;
}
/* line 152, ../sass/_init.scss */
#projetGabarit .projet3 li:nth-of-type(2) {
  margin: 0 52px;
}
/* line 158, ../sass/_init.scss */
#projetGabarit .projet4 li {
  width: 255px;
  padding: 10px;
}
/* line 161, ../sass/_init.scss */
#projetGabarit .projet4 li:nth-of-type(2) {
  margin: 0 20px;
}
/* line 164, ../sass/_init.scss */
#projetGabarit .projet4 li:last-of-type {
  margin-left: 20px;
}
/* line 169, ../sass/_init.scss */
#projetGabarit ul {
  float: left;
  margin-bottom: 55px;
}
/* line 172, ../sass/_init.scss */
#projetGabarit ul li {
  float: left;
  cursor: pointer;
  background: white;
  border: 3px solid transparent;
  border-radius: 2px;
  -moz-transition: all, 0.4s, linear;
  -o-transition: all, 0.4s, linear;
  -webkit-transition: all, 0.4s, linear;
  transition: all, 0.4s, linear;
}
/* line 180, ../sass/_init.scss */
#projetGabarit ul li:hover {
  border: 3px solid #005f78;
}
/* line 183, ../sass/_init.scss */
#projetGabarit ul li img {
  width: 200px;
}
/* line 186, ../sass/_init.scss */
#projetGabarit ul li h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #005f78;
  font-family: "montserratregular", helvetica, arial, sans-serif;
  margin: 5px 0;
}
/* line 193, ../sass/_init.scss */
#projetGabarit ul li p {
  color: #888888;
  font-size: 14px;
  font-family: "montserratlight", helvetica, arial, sans-serif;
}
/* line 200, ../sass/_init.scss */
#projetGabarit .wrapper {
  padding-top: 0;
  padding-bottom: 80px;
}

/* line 207, ../sass/_init.scss */
.buttonWhite:focus {
  text-decoration: none;
  color: white;
}

/* line 212, ../sass/_init.scss */
.projetStep {
  text-transform: uppercase;
  color: #999999;
}

/* line 216, ../sass/_init.scss */
#projetInfo p {
  font-size: 18px;
  color: #666666;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}

/* line 223, ../sass/_init.scss */
.info {
  margin-top: 50px;
}
/* line 225, ../sass/_init.scss */
.info h3 {
  text-align: left;
}
/* line 228, ../sass/_init.scss */
.info p {
  text-align: left !important;
  font-size: 14px !important;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  margin-left: 0 !important;
}

/* line 235, ../sass/_init.scss */
.formVal {
  margin-top: 30px;
  float: left;
}

/* line 239, ../sass/_init.scss */
.formVal .form-group {
  width: 677px;
  clear: both;
  margin: 0 !important;
  margin-bottom: 13px !important;
}
/* line 244, ../sass/_init.scss */
.formVal .form-group label {
  text-align: right;
  float: left;
  width: 171px;
  padding: 0;
  position: relative;
  top: 10px;
  text-transform: uppercase;
  color: #005f78;
}
/* line 254, ../sass/_init.scss */
.formVal .form-group .col-sm-10 {
  width: 485px;
  float: right;
}
/* line 258, ../sass/_init.scss */
.formVal .form-group:last-of-type {
  margin-top: 30px !important;
}
/* line 260, ../sass/_init.scss */
.formVal .form-group:last-of-type button {
  float: right;
}

/* line 265, ../sass/_init.scss */
.valFichier {
  padding-top: 25px !important;
}

/* line 269, ../sass/_init.scss */
.saveIcon {
  float: right;
  width: 350px;
  text-align: center;
}
/* line 273, ../sass/_init.scss */
.saveIcon img {
  width: 140px;
  margin-top: 30px;
}
/* line 277, ../sass/_init.scss */
.saveIcon h3 {
  text-align: center;
}
/* line 280, ../sass/_init.scss */
.saveIcon h4 {
  text-transform: uppercase;
  color: #666666;
  font-size: 14px;
  margin-top: 5px;
}
/* line 286, ../sass/_init.scss */
.saveIcon .col-md-12:first-of-type:after {
  display: none;
}
/* line 289, ../sass/_init.scss */
.saveIcon .col-md-12:after {
  content: '';
  width: 1px;
  height: 25px;
  position: absolute;
  border: 1px dashed #aaaaaa;
  top: 5px;
  left: 173px;
}

/* line 299, ../sass/_init.scss */
.form-group textarea {
  max-width: 100%;
}

/* line 303, ../sass/_init.scss */
.fileProjet input {
  background: transparent;
  border: none;
  margin-top: 10px;
  color: #777777;
  font-family: "montserratlight", helvetica, arial, sans-serif;
}

/* line 6, ../sass/_demand.scss */
.userChoice ul li {
  margin-bottom: 25px !important;
}
/* line 8, ../sass/_demand.scss */
.userChoice ul li img {
  width: 66px;
  border-radius: 100%;
}
/* line 12, ../sass/_demand.scss */
.userChoice ul li p {
  max-width: 455px;
}
/* line 15, ../sass/_demand.scss */
.userChoice ul li .choice {
  position: relative;
  bottom: 5px;
}
/* line 18, ../sass/_demand.scss */
.userChoice ul li .choice .buttonNot {
  background: #eb685a;
}
/* line 20, ../sass/_demand.scss */
.userChoice ul li .choice .buttonNot:hover {
  background: #e53e2d;
}
/* line 25, ../sass/_demand.scss */
.userChoice ul li .choice .buttonSuccess {
  margin-right: 10px;
  background: #128f76;
}
/* line 29, ../sass/_demand.scss */
.userChoice ul li .choice .buttonSuccess:hover {
  background: #10806a;
}
/* line 33, ../sass/_demand.scss */
.userChoice ul li .choice button {
  color: white;
}
/* line 35, ../sass/_demand.scss */
.userChoice ul li .choice button:hover {
  color: white;
}

/* line 45, ../sass/_demand.scss */
.buttonProblem {
  width: 300px !important;
}

/* line 49, ../sass/_demand.scss */
.selChoice p {
  font-family: "montserratlight", helvetica, arial, sans-serif;
}
/* line 51, ../sass/_demand.scss */
.selChoice p:nth-of-type(2) {
  font-family: "montserratregular", helvetica, arial, sans-serif;
}
/* line 55, ../sass/_demand.scss */
.selChoice ul {
  margin-top: 30px;
}
/* line 57, ../sass/_demand.scss */
.selChoice ul li {
  margin-bottom: 25px !important;
}
/* line 59, ../sass/_demand.scss */
.selChoice ul li .choice {
  position: relative;
  bottom: 5px;
}
/* line 63, ../sass/_demand.scss */
.selChoice ul li .choice button:hover {
  background: #005f78;
}

/* line 73, ../sass/_demand.scss */
.freeChoice img {
  float: left;
}
/* line 76, ../sass/_demand.scss */
.freeChoice .dateNot {
  margin-bottom: 30px !important;
}
/* line 80, ../sass/_demand.scss */
.freeChoice p:last-of-type {
  max-width: 455px;
  float: left;
  position: relative;
  top: 18px;
  margin-left: 25px;
}
/* line 89, ../sass/_demand.scss */
.freeChoice .saveInfo {
  width: 225px !important;
}

/* line 4, ../sass/_avisForm.scss */
.avisForm h3 {
  padding-bottom: 20px !important;
}
/* line 7, ../sass/_avisForm.scss */
.avisForm p {
  color: #555555;
}
/* line 10, ../sass/_avisForm.scss */
.avisForm .form-group {
  width: 100%;
}
/* line 13, ../sass/_avisForm.scss */
.avisForm .form-group:first-of-type .col-sm-10 {
  width: 80%;
  float: right;
}
/* line 19, ../sass/_avisForm.scss */
.avisForm .form-group:last-of-type .control-label {
  margin-bottom: 5px;
}
/* line 22, ../sass/_avisForm.scss */
.avisForm .form-group:last-of-type .col-sm-10 {
  margin-bottom: 30px;
}
/* line 27, ../sass/_avisForm.scss */
.avisForm .buttonWhite {
  width: 230px !important;
}

/* line 2, ../sass/_footer.scss */
footer {
  background: #f4f4f4;
}
/* line 4, ../sass/_footer.scss */
footer .wrapper {
  padding: 45px 0 40px 0;
}
/* line 7, ../sass/_footer.scss */
footer ul {
  float: left;
  width: 100%;
}
/* line 10, ../sass/_footer.scss */
footer ul li {
  float: left;
}
/* line 12, ../sass/_footer.scss */
footer ul li a {
  color: #a5acb2;
  font-size: 14px;
  margin-right: 30px;
  position: relative;
  bottom: 2px;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 19, ../sass/_footer.scss */
footer ul li a:hover {
  color: #939ba2;
}
/* line 23, ../sass/_footer.scss */
footer ul li img {
  margin-right: 110px;
}

/* line 29, ../sass/_footer.scss */
.socialFooter {
  float: right;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
}
/* line 32, ../sass/_footer.scss */
.socialFooter a {
  bottom: 0 !important;
  right: 0;
}
/* line 36, ../sass/_footer.scss */
.socialFooter a img {
  margin-right: 0;
}
/* line 39, ../sass/_footer.scss */
.socialFooter:last-of-type a {
  bottom: 1px !important;
}
/* line 42, ../sass/_footer.scss */
.socialFooter:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 3, ../sass/_errorPage.scss */
#errorPage {
  background: #005f78;
  height: calc(100vh - 180px);
  color: white;
  text-align: center;
  line-height: calc(100vh - 345px);
}
/* line 9, ../sass/_errorPage.scss */
#errorPage .wrapper {
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
  height: 255px;
}
/* line 15, ../sass/_errorPage.scss */
#errorPage h1 {
  color: white;
  font-size: 46px;
  font-weight: bold;
  padding-bottom: 0;
}
/* line 20, ../sass/_errorPage.scss */
#errorPage h1 span {
  font-weight: normal;
  font-family: "montserratlight", helvetica, arial, sans-serif;
}
/* line 26, ../sass/_errorPage.scss */
#errorPage p {
  margin-bottom: 30px;
}
/* line 28, ../sass/_errorPage.scss */
#errorPage p:first-of-type {
  color: #929292;
  margin-bottom: 30px;
  font-size: 27px;
  font-family: "montserratlight", helvetica, arial, sans-serif;
  text-transform: uppercase;
}
/* line 35, ../sass/_errorPage.scss */
#errorPage p:first-of-type:after {
  content: "";
  display: block;
  vertical-align: bottom;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  border-top: 1px solid #004456;
}
