{% extends 'layouts/mail.twig' %}

{% block title %}
    {{ data.firstname ~ " " ~ data.lastname }} souhaite participer à votre projet {{ data.project.name }}
{% endblock %}

{% block content %}
    <p>Coucou</p>
{% endblock %}