{% block footer %}

<footer>
	<div class="wrapper">
		<ul>
			<li><img src="webroot/images/logo-buildmyproject-gray.png" alt="Logo Build my project gray"></li>
			<li><a href="#">Accueil</a></li>
			<li><a href="#">Comment ça marche</a></li>
			<li><a href="#">Mentions légales</a></li>
			<li class="socialFooter">
				<a href="#">
					<img src="webroot/images/facebook-icon-gray.png" alt="Facebook icon gray" />
				</a>
			</li>
			<li class="socialFooter">
				<a href="#">
					<img src="webroot/images/twitter-icon-gray.png" alt="Facebook icon gray" />
				</a>
			</li>
		</ul>
		<hr class="clear" />
	</div>
</footer>

{% endblock %}