<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf8">
		<title>Build It Simply</title>

		<link rel="stylesheet" href="webroot/css/base.css" type="text/css" />
		<link rel="stylesheet" href="webroot/css/theme.css" type="text/css" />
	</head>
	<body>
		{% block menu %} {% endblock %}

		{% block body %} {% endblock%}
	</body>
</html>
