<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf8">
		<title>Build It Simply</title>
		<link rel="stylesheet" href="{{css}}bootstrap.css" type="text/css" />
	</head>
	<body>
		<div class="container">
			{% block menu %} {% endblock %}
			{% block body %} {% endblock%}
		</div>
	</body>
</html>
