{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}
    <ul>
    {% for project in projects %}
        <li>{{ project.name }} - Proposé par {{ project.client.firstname ~ project.client.lastname }}</li>
    {% endfor %}
    </ul>
{% endblock %}