{% block body %}
    <div class="listProjet">
        <div class="notBloc">
            <p class="dateNot">Votre choix</p>

            <img src="{{ home ~ propositions.0.picture }}" height="66px" width="66px" alt="Notification user"/>

            <p>
                <a href="{{ home }}users/profile/{{ propositions.0.id }}">{{ propositions.0.firstname ~ " " ~ propositions.0.lastname }}</a>
                travail sur votre projet
            </p>

            <hr class="clear"/>

        </div>

    </div>

    <hr class="clear"/>

{% endblock %}
