{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}

    <div>
        <p>{{ project }} projets total</p>
    </div>
    <div>
        <p>{{ client }} clients inscrits</p>
    </div>
    <div>
        <p>{{ freelance }} freelances disponibles</p>
    </div>
    
{% endblock %}