// _all.scss
$gray : #666666;

#sidebar{
	width: 275px;
	margin-right: 40px;
	float: left;
	h2{
		font-size: 16px;
		text-transform: uppercase;
		font-family: $fontLight;
		color: $colorCla;
		text-align: left;
		line-height: 21px;
		padding-bottom: 25px;
		&:last-of-type{
			padding-top: 35px;
		}
		span{
			font-size: 12px;
			display: inline-block;
			color: #0188ac;
		}
	}
	.form-group{
		width: 100%;
		margin: 0 !important;
		margin-bottom: 35px !important;
		input{
			background: $colorInputBg image-url("search.png") no-repeat 235px 12px;
		}
	}
}
#listCategorie{
	li{
		float: left;
		width: 100%;
		font-size: 14px;
		color: #999999;
		font-family: $fontLight;
		margin-bottom: 5px;
		@include transition(all,0.2s,linear);
		a{
//			color: #999999;
            color: $gray;
			display: block;
			border-radius: 4px;
			padding: 6px 13px 8px;
			@include transition(all,0.2s,linear);
			&:hover{
				background-color: #f0f0f0;
			}
		}
		span{
			float: right;
			font-size: 14px;
			font-weight: normal;
			color: #ffffff;
			line-height: 1.615;
			background-color: #d8dce0;
			border-radius: 4px;
			padding: 0 8px;
		}
	}
}
.listActive{
	a{
		color: $colorCla !important;
		background-color: #ecf0f1;
		@include transition(all,0.2s,linear);
	}
	span{
		background-color: white !important;
		color: $colorCla !important;
	}
	&:hover{
		a{
			background-color: #f3f3f3 !important;
		}
	}
}
.listProjet{
	float: right;
	width: 765px;
	li{
		background: #fafafa;
		border: 1px solid #f2f2f2;
		border-radius: 2px;
		margin-bottom: 30px;
		h3{
			font-size: 21px;
			color: $colorCla;
			text-transform: none;
			text-align: left;
			margin-bottom: 3px;
			padding: 25px 25px 0 25px;
			a{
				&:hover{
					color: $colorClaHover !important;
				}
			}
			
		}
		.infoList{
			color: #888888;
			font-family: $fontLight;
			font-size: 14px;
			padding: 0 25px;
			img{
				margin-right: 5px;
			}
			span{
				margin-right: 15px;
			}
		}
		.textList{
			font-size: 16px;
			color: #666666;
			font-family: $fontLight;
			margin: 15px 0;
			padding: 0 25px;
		}
		.tagList{
			padding: 0 25px;
			margin-bottom: 25px;
		}
		.tagList a{
			padding: 5px 10px;
			color: #666666;
			background: #e3e3e3;
			border-radius: 3px;
			font-size: 14px;
			font-family: $fontLight;
			margin-right: 10px;
			@include transition(all,0.2s,linear);
			&:last-of-type{
				margin-right: 0;
			}
			&:hover{
				background: #dbdbdb;
				color: $colorCla !important;
			}
		}
		.budgetList{
			background: #f3f3f3;
			border-top: 1px solid #f2f2f2;
			font-size: 16px;
			font-family: $fontLight;
			color: #999999;
			padding: 15px 25px;
			float: left;
			width: 548px;
			span{
				float: right;
				color: #555555;
			}
		}
		.etatList{
			color: #ebebeb;
			font-family: $fontLight;
			float: right;
			text-align: center;
			position: relative;
			top: 1px;
			left: 1px;
			border-top: 1px solid $colorCla;
			border-bottom-right-radius: 2px;
			a{
				color: #ebebeb;
				background: $colorCla;
				width: 215px;
				padding: 15px 25px;
				display: block;
				border-bottom-right-radius: 2px;
				@include transition(all,0.2s,linear);
				 &:hover{
				 	background: $colorClaHover;
				 }
			}
		}
	}
}

#listMenu p{
	float: left;
//	color: #aaaaaa;
    color: $gray;
	font-family: $fontLight;
}
/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 25px;
  width: 210px;
  float: right;
  cursor: pointer;
  &:focus{
  	outline-offset: none;
  	outline: none;
  }
}

.custom-dropdown select {
  background-color: #f8f8f8;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
  width: 210px;
  font-size: 14px;
//  color: #a0a0a0;
  color: $gray;
  border: 1px solid #ededed;
  padding: 10px;
  padding-right: 20px;	
  padding-left: 20px;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  @include transition(all,0.2s,linear);
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
  &:hover{
  	background-color: #f0f0f0;
  }
  &:focus{
  	outline-offset: none;
  	outline: none;
  }
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: " ";
  background: image-url("chevron-down-option.png") no-repeat;
  width: 14px;
  height: 8px;
  right: 20px;
	top: 18px;
}

// .custom-dropdown::before {
//   width: 40px;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   border-radius: 0 3px 3px 0;
// }
// .custom-dropdown::before {
//   background-color: #f0f0f0;
// }

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}