// _demand.scss


.userChoice{
	ul{
		li{
			margin-bottom: 25px !important;
			img{
				width: 66px;
				border-radius: 100%;
			}
			p{
				max-width: 455px;
			}
			.choice{
				position: relative;
  				bottom: 5px;
  				.buttonNot{
  					background: #eb685a;
	  					&:hover{
	  						background: #e53e2d;
	  					}
  					}
  					
  					.buttonSuccess{
  						margin-right: 10px;
  						background: #128f76;
  						
  						&:hover{
  							background: #10806a;
  						}
  					}
  				button{
  					color: white;
  					&:hover{
  						color: white;	
  					}
  					
  				}
			}
		}
	}
	
}
.buttonProblem{
	width: 300px !important;
}
.selChoice{
	p{
		font-family: $fontLight;
		&:nth-of-type(2){
			font-family: $font;
		}
	}
	ul{
		margin-top: 30px;
		li{
			margin-bottom: 25px !important; 
			.choice{
				position: relative;
  				bottom: 5px;
  				button{
  					&:hover{
  						background: $colorCla;
  					}
  				}
  				
  			}
		}
	}
}
.freeChoice{
	img{
		float: left;
	}
	.dateNot{
		margin-bottom: 30px !important;
	}
	p{
		&:last-of-type{
			max-width: 455px;
			float: left;
			  position: relative;
			  top: 18px;
			  margin-left: 25px;
		}
	}
	
	.saveInfo{
		width: 225px !important;
	}
}


