// _init.scss

#timelineHead{
	text-align: center;
	ul{
		background: image-url("timeline-separator.png") no-repeat 62px 6px;
		display: inline-block;
		.timelineActive{
			color: white;
			span{
				background: white;
			}
		}
		li{
			float: left;
			text-transform: uppercase;
			color: #c8c8c8;
			font-size: 14px;
			span{
				width: 15px;
				height: 15px;
				border-radius: 100%;
				display: block;
				background: #c8c8c8;
				margin: 0 auto;
				margin-bottom: 6px;
			}
			&:nth-of-type(2){
				margin: 0 97px 0 89px;
			}
		}
	}
}

#ProjetInfo{
	.wrapper{
		text-align: center;
		position: relative;
		p{
			font-size: 18px;
			color: #666666;
			width: 700px;
			text-align: center;
			margin: 0 auto;
		}
		form{
			margin-top: 60px;
		}
		.form-group{
			width: 845px;
			clear: both;
			margin: 0 !important;
			margin-bottom: 13px !important;
			label{
				text-align: right;
				float: left;
				width: 340px;
				padding: 0;
				position: relative;
				top: 10px;
				text-transform: uppercase;
				color: $colorCla;
			}
			input, textarea{
				width: 100%;
				max-width: 485px;
			}
			.form-group input{
				max-width: 485px;
				width: 100%;
			}
			.col-sm-10{
				width: 485px;
				float: right;
			}
			.tokenfield{
				text-align: left;
				input[type="text"] {
				  @include input-placeholder {
				    color: #a0a0a0 !important;
				    text-align: left;
				  }
				}
			}
		}
	}
	
}
.tokenfield.focus{
	box-shadow: none;
	border-color: #2c3e50;
}

#gabaritBG{
	background: #f5f5f5;
	.wrapper{
		padding-bottom: 30px;
	}
}

.projetBugdet{
	margin-top: 20px;
	p{
		font-size: 24px !important;
		color: #555555 !important;
		font-family: $font !important;
		span{
			color: $colorCla;
			font-size: 16px;
			text-transform: uppercase;
			display: block;
		}
	}
}
.previousQ{
	position: absolute;
	top: 97px;
	left: 0;
	text-transform: uppercase;
	font-size: 14px;
	color: #a8a8a8;
	@include transition(all,0.2s,linear);
	&:hover{
		color: #888888;
	}
}
#projetGabarit{
	text-align: center;
	ul{
		float: left;
		margin-bottom: 55px;
		li{
			padding: 30px;
			float: left;
			cursor: pointer;
			width: 325px;
			background: white;
			border: 3px solid transparent;
			border-radius: 2px;
			@include transition(all,0.4s,linear);
			&:nth-of-type(2){
				margin: 0 52px;
			}
			&:hover{
				border: 3px solid $colorCla;
			}
			h3{
				font-size: 16px;
				text-transform: uppercase;
				color: $colorCla;
				font-family: $font;
				margin: 5px 0;
			}
			p{
				color: #888888;
				font-size: 14px;
				font-family: $fontLight;
			}
		}
	}
	.wrapper{
		padding-top: 0;
		padding-bottom: 80px;
	}
}





