// _login.scss
#loginHead{
	.wrapper{
		padding-bottom: 40px !important;
	}

}
#loginInfo{
	.form-group{
		&:first-of-type{
			margin-right: 28px !important;
		}
	}
	.wrapper{
		padding-top: 40px;
		width: 700px;
	}
	.buttonWhite{
		margin: 0 auto;
		display: block;
		position: relative;
		top: 40px;
	}
}



