// _register.scss
$toggle-active-color: #389E29;
$trans-duration-base: 250ms;

#registerHead, .connectionhead{
	text-align: center;
	background: $colorCla;
	h2, h1{
		color: white;
	}
	p{
		color: #eaeaea;
		font-family: $fontLight;
		width: 700px;
		margin: 0 auto;
		margin-bottom: 25px;
	}
	.wrapper{
		padding-bottom: 0;
	}
}

.radio-group {  
	width: 290px;
	display: table;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: separate;
	margin: 0 auto;
	position: relative;
	top: 23px;
	z-index: 10;
	cursor: pointer;
}
.radio-group__label {
	display: table-cell;
	background: #f6f6f6;
	padding: 10px 20px;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	position: relative;
	border: 2px solid #e2e2e2;
	border-radius: 2px 0 0 2px;
	cursor: pointer;
	color: $colorCla;
	@include transition(all,0.2s,linear);
	@include transition(border $trans-duration-base, color $trans-duration-base);
	&:first-of-type{
		border-right: 1px solid #e2e2e2;
	}
	&:last-of-type{
		border-left: 1px solid #e2e2e2;
	}
	&:hover{
		background: #f2f2f2;
		color: $colorClaHover;
	}
}
.radio-group__label + input + .radio-group__label {
	border-radius: 0 2px 2px 0;
}
.radio-group__label + input + .radio-group__label:before {
	content: " ";
	display: block;
	position: absolute;
	top: -2px;
	width: 145px;
	height: 48px;
	border: 2px solid $colorClaHover;
	border-radius: 2px 0 0 2px;
	transform: translate3d(-115%,0,0);
	transition: all $trans-duration-base;
}  
.radio-group__label + input:checked + .radio-group__label:before {
	border-radius: 0 2px 2px 0;
	transform: translate3d(-21px,0,0);
}
.radio-group__option:checked + label {  
	color: $colorClaHover;
	background: #f0f0f0;
}
.radio-group__option {  
	display: none;
}


#registerInfo{
	.wrapper{
		width: 700px;
	}
	h3{
		text-align: left;
	}
	p{
		color: #767676;
		margin-top: 10px;
		font-size: 14px;
	}
}
.form-group{
	width: 48%;
	float: left;
	margin: 28px 0 0 0 !important;
	#registerInfo &:nth-of-type(1){
		margin-right: 28px !important;
	}
	#registerInfo &:nth-of-type(3){
		width: 100%;
		margin: 13px 0 13px 0 !important;
	}
	.col-sm-10{
		width: 100%;
		padding: 0;
	}
	input{
//		background: #f8f8f8;
        background: $colorInputBg;
		border: 1px solid #ededed;
		font-size: 14px;
	}
	input[type="text"] {
	  @include input-placeholder {
	    color: #a0a0a0;
	  }
	}
	.buttonWhite{
		border-color: none;
		border: none;
	}
	#registerInfo &:last-of-type{
		width: 100%;
		text-align: center;
		.col-sm-offset-2{
			margin: 0;
		}
	}
}
.form-marg{
	margin-right: 28px !important;
}
.has-error .help-block{
	font-size: 14px;
}


