// _show.scss

#profileView{
	background: #f5f5f5;
}
#profileInfo{
	padding: 25px;
	text-align: center;
	float: left;
	width: 400px;
	margin-right: 30px;
	border-radius: 2px;
	background: white;
	border: 1px solid #f2f2f2;
	div.stars{
		float: right;
		width: 150px;
		label.star{
			font-size: 16px;
			margin: 0 3px;
			padding: 0;
		}
	}
	h1{
		font-size: 21px;
		span{
			font-family: $fontLight;
			letter-spacing: normal;
		}
	}
	h2{
		font-size: 18px;
		margin-bottom: 30px;
		span{
			font-size: 16px;
			text-transform: none;
			color: #5d6e72;
			display: block;
		}
	}
	h1, h2{
		padding: 0;
	}
	img{
		display: block;
		margin: 0 auto;
		padding: 30px 0 20px 0;
	}
	ul{
		margin-top: 40px;
		li{
			float: left;
			text-align: left;
			clear: both;
			color: #5d6e72;
			font-family: $fontLight;
			border-bottom: 1px solid #e8e8e8;
			padding: 10px 0;
			width: 100%;
			span{
				float: right;
			}
		}
	}
}
#profileDescription{
	width: 650px;
	float: right;
	text-align: left;
	padding: 25px;
	background: $colorCla;
	border-radius: 2px;
	h3{
		text-align: left;
		color: white;
	}
	p{
		color: #eeeeee;
		font-family: $fontLight;
		margin: 20px 0;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	.tagList{
		a{
			padding: 5px 10px;
			color: #666666;
			background: #e3e3e3;
			border-radius: 3px;
			font-size: 14px;
			font-family: $fontLight;
			margin-right: 10px;
			@include transition(all,0.2s,linear);
			&:hover{
				background: white;
				color: $colorCla;
			}
		}
	}
}
#profileView{
	position: relative;
	.listProjet{
		text-align: center;
		width: 650px;
		position: relative;
		h3:first-of-type{
			text-align: left;
			padding: 40px 0 20px 0;
		}
		h4{
			font-size: 21px;
			color: #005f78;
			text-transform: none;
			text-align: left;
			margin-bottom: 3px;			
			padding: 25px 25px 0 25px;
			a{
			@include transition(all,0.2s,linear);
				&:hover{
					color: $colorClaHover;
				}
			}
			
		}
		ul li{
			text-align: left;
		}
		li{
			background: white;
		}
	}
}
.listProjet#profileAvis{
	width: 100%;
	float: left;
}
#profileAvis{
	li{
		width: 49%;
		float: left;
		padding: 25px 0;
		position: relative;
		&:nth-child(odd){
			margin-right: 21px;
		}
	}
	img{
		margin-left: 25px;
		float: left;		
	}
	p{
		float: left;
		width: 365px;
		&:last-of-type{
			font-size: 14px;
		}
	}
	.recruteurAvis{
		padding-left: 25px;
		width: 230px;
		a{
			@include transition(all,0.2s,linear);
			&:hover, &:hover span{
				color: $colorClaHover;
			}
			span{
				@include transition(all,0.2s,linear);
				color: #5d6e72;
				font-size: 14px;
				&:hover{
					color: $colorClaHover;
				}
			}
		}		
	}
	.buttonWhite{
		margin-top: 40px;
	}
	div.stars{
	  position: absolute;
	  top: 15px;
	  right: 25px;
	}
}


div.stars{
  width: 200px;
  display: inline-block;
  margin-left: 20px;
}


input.star{
  display: none;
}

label.star {
  float: right;
  padding: 5px;
  font-size: 20px;
  color: #444;
  transition: all .2s;
}
input.star:checked ~ label.star:before {
  content:'\f005';
  color: #00657f;
  transition: all .25s;
}


input.star-5:checked ~ label.star:before {
  color:#00657f;
  // text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #00657f;
}
label.star:before{
  content:'\f005';
  color: #d4d4d4;
  font-family: FontAwesome;
}
// label.star:hover{
//   transform: rotate(-15deg) scale(1.3);
// }



