{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}

    <div class="pageHead">
        <h1>Notifications</h1>
    </div>

    <div id="notification">
        <div class="wrapper">
            <p>Pour profiter au mieux de Build it Simply, tenez vous informé des dernières alertes.</p>

            {% if login.type == "CLIENT" %}
                {% include 'notifications/client.twig' %}
            {% elseif login.type == "FREELANCE" %}
                {% include 'notifications/freelance.twig' %}
            {% endif %}

            {% if participations | length == 0 %}
                <div>Aucune notification pour le moment</div>
            {% endif %}

        </div>
    </div>

    <div class="push"></div>

    </div><!-- end page -->


{% endblock %}