{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}

<div class="pageHead">
		<h1>Notification</h1>
</div>

    	<div class="push"></div>

</div><!-- end page -->



    {% if login.type == "CLIENT" %}
        {% include 'notifications/client.twig' %}
    {% elseif login.type == "FREELANCE" %}
        {% include 'notifications/freelance.twig' %}
    {% endif %}
{% endblock %}