{% extends 'layouts/' ~ layout ~ '.twig' %}
{% block body %}
    <h3>Vos participations</h3>
    <ul class="participations">
        {% for participation in participations %}
            <li>
                Vous avez participé au projet <a
                        href="{{ home }}projects/{{ participation.project.id }}">{{ participation.project.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}